body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.n {
  cursor: n-resize;
}
.s {
  cursor: s-resize;
}
.w {
  cursor: w-resize;
}
.e {
  cursor: e-resize;
}
.ne {
  cursor: ne-resize;
}
.es {
  cursor: se-resize;
}
.sw {
  cursor: sw-resize;
}
.wn {
  cursor: nw-resize;
}